@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p,
span {
  font-family: "Roboto";
}

:root {
  --primary-color: #233040;
  --secondary-color: #fdfdfd;
  --main-color: #42526e;
  --medium-color: #aab8c2;
  --light-color: #d9e4e9;
}

.app {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100vh;
}
