@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p,
span {
  font-family: "Roboto";
}

:root {
  --primary-color: #233040;
  --secondary-color: #fdfdfd;
  --main-color: #42526e;
  --medium-color: #aab8c2;
  --light-color: #d9e4e9;
}

.app {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100%;
}

.btncontainer {
  margin-top: 30px;
}
.loginBtn {
  padding: 8px 12px;
  background-color: var(--main-color);
  border-radius: 4px;
  margin: 0 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

.registerBtn {
  padding: 8px 12px;
  background-color: var(--medium-color);
  border-radius: 4px;
  margin: 0 5px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
