.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 60px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  height: 50px;
  padding: 0 6%;
  background-color: var(--main-color);
}

.header-user-login {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--light-color);
  color: var(--primary-color);
  padding: 5px 8px;
  border-radius: 5px;
}

.header-user-login p {
  font-size: 12px;
  font-weight: 700;
}

.header-user-login:hover {
  color: tomato;
}

.nav-links {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 500;
}

.nav-links li:hover {
  color: tomato;
}

.header-user-dashboard {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--light-color);
  color: var(--primary-color);
  padding: 5px 8px;
  border-radius: 5px;
  border-bottom: 2px rgb(16, 208, 16) solid;
  border-right: 2px rgb(16, 208, 16) solid;
}

.header-user-dashboard p {
  font-size: 12px;
  font-weight: 700;
}

.header-user-dashboard:hover {
  color: tomato;
}

.newPostBtn {
  background-color: var(--medium-color);
  color: var(--primary-color);
  padding: 4px 9px;
  border-radius: 3px;
  font-weight: 700;
}
